min_peers = 20
max_peers = 120
port_range = 60125-64125
scgi_port = 127.0.0.1:5000
encoding_list = UTF-8
min_peers_seed = 10
max_peers_seed = 50
max_uploads = 14
download_rate = 0
upload_rate = 80
directory = <DATA_DIR>/downloads
session = <SITE_DIR>/session
system.method.set_key = event.download.finished,move_complete,"execute=mv,$d.get_base_path=,<DATA_DIR>/media/;d.set_directory=<DATA_DIR>/media/"
schedule = watch_directory,5,5,load_start=<SITE_DIR>/torrents/*.torrent
schedule = low_diskspace,5,60,close_low_diskspace=100M
#ip = 127.0.0.1
#bind = 127.0.0.1
port_random = yes
check_hash = yes
#use_udp_trackers = yes
encryption = allow_incoming, try_outgoing,enable_retry
# dht = auto
dht_port = 63425
peer_exchange = yes
#hash_read_ahead = 10
#hash_interval = 100
#hash_max_tries = 10
