<!doctype html>
<html lang="en">
  <head>
    <title>Torrentor</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/torrentor/static/favicon.ico"/>
    <link rel="stylesheet" href="/torrentor/static/grid.css" />
    <link rel="stylesheet" href="/torrentor/static/style.css" />
    <script type="text/javascript" src="/torrentor/static/zepto.min.js"></script>
    <script type="text/javascript" src="/torrentor/static/zepto.fx.js"></script>
    <script>
      file =  '\
              <div class="item grid__col grid__col--1-of-6" onclick="action(\'%3\',\'%4\');"> \
                 <div class="gray"> \
                   <img class="icon" width="48px" src="/torrentor/static/%1.png"/> \
                   <div class="size">%2</div> \
                 </div> \
               </div> \
              ';

      cwd = ''

      function action(type,key) {
        if(type=="dir"||type=="parent") {
          if(key=='..') cwd = cwd.split('/').slice(0,-1).join('/');
          else cwd = key;
          loading();
          igrid = $('#items'); igrid.html('');
          igrid.animate({opacity:0},250,'ease-out',function() {
            if (cwd=='') {igrid.html('');
              $.post('/torrentor/items/',{'url':'files'},function(data) {
                items = JSON.parse(data)['items'];
                for(var k in items) {
                  e = JSON.parse(items[k]);
                  igrid.append(file.replace('%1',e[0]).replace('%2',k.slice(0,50)).replace('%3',e[0]).replace('%4',k));
                }
                igrid.animate({opacity:1},250,'ease-out');
                finished();
              });
            }else{igrid.html('');
              $.post('/torrentor/files/',{"path":cwd},function(data) {
                  data = JSON.parse(data);
                  igrid.append(file.replace('%1','parent').replace('%2','Parent Directory').replace('%3','parent').replace('%4','..'));
                  data.forEach(function(e) {
                    igrid.append(file.replace('%1',e[1]).replace('%2',e[0].slice(0,50)).replace('%3',e[1]).replace('%4',cwd+'/'+e[0].replace("'","\\'")));
                  });
                  igrid.animate({opacity:1},250,'ease-out');
                  finished();
              });
            }
          });
        }else if(type=="mov") {
          window.prompt('FILEPATH:',key);
        }
      }

      Zepto(function($) {
          $('.container').animate({opacity:1},800,'ease-out');
          loading();
          $.post('/torrentor/items/',{'url':'files'},function(data) {
            data = JSON.parse(data);
            if(!data['error']) {
              cwd = ''
              igrid = $('#items'); igrid.html('');
              items = data['items'];
              for(var k in items) {
                e = JSON.parse(items[k]);
                igrid.append(file.replace('%1',e[0]).replace('%2',k.slice(0,50)).replace('%3',e[0]).replace('%4',k));
              }
              igrid.animate({opacity:1},250,'ease-out');
            }
            finished();
          });
      });

      function loading(){
        $('.logo').animate({opacity:0},100,'ease-out',
          function() {
            $(this).attr({src:'/torrentor/static/loading.gif'});
            $(this).animate({opacity:1},100,'ease-out');
        });
      }

      function finished() {
        $('.logo').animate({opacity:0},100,'ease-out',
          function() {
            $(this).attr({src:'/torrentor/static/logo.png'});
            $(this).animate({opacity:1},100,'ease-out');
        });
      }

      $(window).keydown(function(event){
        url = $('#url');
        if(event.which==13) {
          event.preventDefault();
          val = url.val();
          if(val.length<2) return;
          loading();
          $.post('/torrentor/items/',$('#form').serialize(),function(data) {
            data = JSON.parse(data);
            if(!data['error']) {

            }else {
              url.attr({placeholder:'Cannot resolve torrent data.'});
              //DEBUG
              //url.attr({placeholder:data});
            }
            url.val('');
            finished();
          });
        }else {
          if(url.val().length > 0)
            url.attr({placeholder:'http://'});
        }
      });
    </script>
  </head>
  <body>
    <div class="container" style="opacity:0;">
        <div class="grid">
          <div class="grid__col grid__col--1-of-8">
            <span class="header"> <img class="logo" src="/torrentor/static/logo.png" alt="logo"/>Torrentor.v3
            </span>
          </div>
          <div class="grid__col grid__col--7-of-8">
            <form id="form">
              <input type="text" autofocus autocomplete="off" onblur="return false" id="url" name="url" class="main-input" placeholder="Enter torrent url..." />
            </form>
          </div>
        </div>

        <div class="grid items" id="items">
        </div>

        <div class="footer">
          <span class="playing">Now playing:</span>
          <div class="queue-item"> 
            <p>memelerimsi o ye madafaka memeler de memeler</p>
          </div>
          <div class="queue-item"> 
            <p>memelerimsi o ye madafaka memeler de memeler</p>
          </div>
        </div>

    </div>
  </body>
</html>
