<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Torrentor.v2</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

  </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-info btn-md toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-md pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand white">
          Control Panel
        </li>
        <li class="smaller white">
          <h5>Now Playing:</h5>
          <div class="row">
            <div class="col-md-6"><span style="font-size:10px;font-weight:normal;">Breaking.Bad.S05E15.HDTV.Xvid.x264.mp4</span></div>
          </div>
          <div class="row text-center">
            <div class="col-xs-1 col-md-1"><span class="icon-fast-backward"></span></div>
            <div class="col-xs-1 col-md-1"><span class="icon-step-backward"></span></div>
            <div class="col-xs-1 col-md-1"><span class="icon-play"></span></div>
            <div class="col-xs-1 col-md-1"><span class="icon-step-forward"></span></div>
            <div class="col-xs-1 col-md-1"><span class="icon-fast-forward"></span></div>
          </div>
        </li>
        <li class="white">
          <h5>Recent Downloads:</h5>
        </li>
        <li class="white" id="downloads">
        
        </li>
          <!--
          <div class="progress">
            <div class="progress-bar progress-bar-sm" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          -->
      </ul>
    </div>
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div class="header">
      <div class="vert-text">
        <img src="/static/img/logo.png"></img>
        <h1>Torrentor<small class="smaller">.v2</small></h1>
        <br><br><br>
        <form id="form" method="post" action="/torrentor/q/" onsubmit="return submitForm(this);">
          <div class="input-group">
            <input type="text" id="OmniField" onkeyup="input=this.value;keys=true;" class="form-control" placeholder="Search for media or add torrents" name="query" autocomplete=off></input>
            <span class="input-group-btn"> 
              <button class="btn btn-info" type="submit"><span class="icon-search"></span></button>
            </span>
          </div>
        </form>

        <div class="panel panel-default" style="opacity:0;">
          <div class="panel-body">
            <b>Best Match:</b> <span id="match">Breaking.bad.s03e19.hdtv-lol.x264.mp4</span>
            <span id="seeder" class="text-success">0</span>/<span id="leecher" class="text-danger">0</span>
            <button id="dlMatch" class="btn btn-info pull-right formtransition"><span class="icon-download"></span></button>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a class="" target="_blank" href="http://github.com/hgeg/torrentor" style="text-decoration:none;"><i class="icon-github icon-2x"></i></a></li>
              <li><a class="" target="_blank" href="http://twitter.com/alicanblbl" style="text-decoration:none;"><i class="icon-twitter icon-2x"></i></a></li>
            </ul>
            <hr>
            <p>Copyright &copy; Can Bülbül 2013</p>
            <small>Theme derived from <a href="http://startbootstrap.com/" style="border-bottom:1px dotted #333;text-decoration:none;">Start Bootstrap</a>. Powered by 
              <a href="http://webpy.org/" style="border-bottom:1px dotted #333;text-decoration:none;">web.py</a>, <a href="http://libtorrent.rakshasa.no/‎" style="border-bottom:1px dotted #333;text-decoration:none;">rtorrent</a> and <a href="http://ffmpeg.org/" style="border-bottom:1px dotted #333;text-decoration:none;">ffmpeg</a>. Background image: C. Monet, <i><a href="http://www.monetpainting.net/paintings/petitbras.php" style="border-bottom:1px dotted #333;text-decoration:none;">"The Petite Bras d'Argenteuil"</a></i></small>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $$("#menu-close").click(function(e) {
          e.preventDefault();
          $$("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $$("#menu-toggle").click(function(e) {
          e.preventDefault();
          $$.get("/torrentor/json:status/", function(data) {
            $$('#downloads').empty()
            $$.each(data.list, function(index,value) {
              console.log(index)
              $$('#downloads').append(
              '<p class="smaller" style="line-height:1.5em;margin:0px 2px 0px 5px;">'+value+'</p>\n'
              );
            });
          },'json');
          $$("#sidebar-wrapper").toggleClass("active");
      });
  </script>

  <script type="text/javascript">
    $$(document).ready(function() {
      $$("body").css("display", "none");
      $$("body").fadeIn(1000);
      setInterval("search(input);keys=false;",800);
    });

    function submitForm(form) {
      event.preventDefault();
      $$("body").fadeOut(200, function() {
        form.submit();
      });
    }

    $$("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $$("body").fadeOut(500, function(){
          window.location = linkLocation;
        });      
    });

    $$(".formtransition").click(function(event){
        event.preventDefault();
        $$("body").fadeOut(300, function(){
          $$('#OmniField').val(torrent);
          form.submit();
        });      
    });

    keys = false;
    input = ""
    oldinput = ""
    query = "5";
    torrent = "";

    function search(input){
      if(input.length==0 || !$$('#OmniField').is(":focus")) {
        $$('.panel').animate({ opacity: 0 });
      }
      if((input.length<4 || oldinput==input) || keys) return false;
      bufferTime=3
      console.log('invoked');
      $$.post("/torrentor/json:match/", '{"query":"'+input+'"}',
        function(r) {
        data = r[0];
        console.log(data);
        $$('#match').text(data.name);
        torrent = data.torrent;
        $$('#seeder').text(data.seeder);
        $$('#leecher').text(data.leecher);
        $$('.panel').animate({ opacity: 1 });
      },"json");  
      oldinput = input;
    }
  </script>

  </body>

</html>
