$def with (query,files,indexing)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Torrentor.v2</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

  </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-info btn-md toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper" style="overflow:hidden">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-md pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand white">
          Control Panel
        </li>
        <li id="nowplaying" class="white">
          <h5>Now Playing:</h5>
          <div class="row">
            <div class="col-md-12"><span id="moviename" style="font-size:10px;font-weight:normal;"></span></div>
          </div>
          <div class="row text-center">
            <button class="btn" style="background-color:#fff" onclick="control('back')"><span class="icon-fast-backward"></span></button>
            <button class="btn" style="background-color:#fff" onclick="control('play')"><span class="icon-play"></span></button>
            <button class="btn" style="background-color:#fff" onclick="control('stop')"><span class="icon-stop"></span></button>
            <button class="btn" style="background-color:#fff" onclick="control('next')"><span class="icon-fast-forward"></span></button>
          </div>
          <script type="text/javascript">
            function control(directive) {
              $$.post('/torrentor/json:control/','{"directive":"'+directive+'"}',null,"json")
            }
          </script>
        </li>
        <br>
        <li class="white">
          <h5>Current Downloads:</h5>
        </li>
        <li class="white" id="downloads">
        
        </li>
          <!--
          <div class="progress">
            <div class="progress-bar progress-bar-sm" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          -->
      </ul>
    </div>
    <!-- /Side Menu -->

    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            $if indexing:
              <h4>Index of "$query"</h4>
            $else:  
              <h4>Results for "$query"</h4>
            <hr>
          </div>
        </div>

        <div class="row">
          $for movie in files
            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
              <div class="portfolio-item">
                $if movie[1] == 'mov':
                  <a data-toggle="modal" href="#outselect" onclick="passData('$query','$movie[0]','$movie[0][-3:]');">
                    <img width="42" class="img-portfolio img-responsive" src="/static/img/$(movie[1]+'.png')"/>
                $else:
                  $if indexing: <a class="transition" href="/torrentor/l/$query$movie[0]/">
                  $else:  <a class="transition" href="/torrentor/l/$movie[0]/">
                  <img width="42" class="img-portfolio img-responsive" src="/static/img/$(movie[1]+'.png')"/>
                <br/>
                <span style="word-wrap: break-word;font-size:12px;">$(movie[0][:72]+'...' if len(movie[0])>=75 else movie[0])</span>
                </a>
              </div>
            </div>
        </div>

        <script type="text/javascript">
          function passData(path, target, type) {
            console.log(type);
            if(type!='mp4'){
              document.getElementById('devicePlay').href = null;
              document.getElementById('deviceIcon').src = '/static/img/device_no.png';              
              document.getElementById('deviceText').innerText = 'Cannot play on this device.'

            }else{
              $if indexing: document.getElementById('devicePlay').href = '/torrentor/l'+path+target+'/';
              $else: document.getElementById('devicePlay').href = '/torrentor/l/'+target+'/';
              document.getElementById('deviceIcon').src = '/static/img/device.png';
              document.getElementById('deviceText').innerText = 'This device'
            }
            document.getElementById('hdmiPlay').onclick = function(){
              $$.post('/torrentor/json:playHDMI/','{"path":"$(query if indexing else "")'+target+'"}',function(data){
                  console.log(data);
                  $$('#outselect').hide()
                },'json');
            }
            $$('#substatus').html('Downloading subtitle');
            $$('#loading').attr('src','/static/img/loading.gif').show();
            $$.post("/torrentor/json:subtitle/",'{"path":"$(query if indexing else "")'+target+'"}',
              function(data) {
                if(data.result==true){
                  $$('#loading').css({"opacity":0}).attr('src','/static/img/check.png').animate({"opacity":1});
                  $$('#substatus').css({"opacity":0}).html('Subtitle successfully downloaded').animate({"opacity":1});
                }else {
                  $$('#loading').css({"opacity":0}).attr('src','/static/img/cancel.png').animate({"opacity":1});
                  $$('#substatus').css({"opacity":0}).html('Could not find matching subtitle').animate({"opacity":1});
                }
              }
              ,'json')
          }
        </script>

        <div class="modal fade" id="outselect" tabindex="-1" role="dialog" aria-labelledby="outselectlabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Play the media on...</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center" id="subdownloader" >
                      <span id="substatus">Downloading Subtitles </span>
                      <img id="loading" src="/static/img/loading.gif" width="16" height="16">
                    </div>
                    <div class="col-md-6 text-center">
                      <div class="portfolio-item">
                        <a id="devicePlay" href="">
                          <img id="deviceIcon" height="96" class="img-portfolio img-responsive" src="/static/img/device.png"/>
                        </a>
                        <h6 id="deviceText" style="white-space: nowrap;">This device</h6>
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <div class="portfolio-item">
                        <a id="hdmiPlay">
                          <img height="96" data-dismiss="modal" class="img-portfolio img-responsive" src="/static/img/hdmi.png"/>
                        </a>
                        <h6 style="white-space: nowrap;">HDMI output</h6>
                      </div>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <a class="btn btn-info btn-md transition" href="javascript:history.go(-1);" style="position:fixed;top:5px;left:5px;">
          <span class="icon-arrow-left"></span>
        </a>

      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $$("#menu-close").click(function(e) {
          e.preventDefault();
          $$("#sidebar-wrapper").toggleClass("active");
      });
      
      var state = false;
      var interval = null;
      $$("#menu-toggle").click(function(e) {
          e.preventDefault();
          poll();
          if(!state) {
            interval = window.setInterval('poll();',2000);
          } else {
            window.clearInterval(interval);
          }
          state = !state;
          $$("#sidebar-wrapper").toggleClass("active");
      });

      function poll() {
          $$.get("/torrentor/json:status/", function(data) {
            $$('#downloads').empty()
            if(data.now_playing == '') {
                $$('#nowplaying').hide()
            } else {
                document.getElementById('moviename').innerText = data.now_playing
            }
            $$.each(data.list, function(index,object) {
                name = object[0].length<30 ? object[0] : object[0].substring(0,27)+'...'
              drate = object[1]/1024.0;
              percent = object[2]*1.0/object[3]*100;
              $$('#downloads').append(
              '<p class="smaller" style="line-height:1.5em;margin:0px 2px 2px 5px;">'+name+'</p><p class="smaller" style="line-height:1.5em;margin:0px 2px 15px 5px;">'+Math.round(drate*100)/100+' KB/s, ' +
              Math.round(percent*100)/100+ '% downloaded.</p>'
              );
            });
          },'json');
      }

    $$(document).ready(function() {
      poll();
      $$("body").css("display", "none");
      $$("body").fadeIn(1000);
    });

    $$("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $$("body").fadeOut(400, function(){
          window.location = linkLocation;
        });      
    });
  </script>

  </body>

</html>
