$def with (movie,source,subtitle)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Torrentor.v2</title>


    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    
  </head>

   <body>
    <div style="background-color:#000;top:0px;left:0px;width:100%;height:100%;z-index:-100;"></div>
    
    <span class="non-media-ui-element" style="text-shadow:2px 2px #000;font-weight:normal;position:absolute;top:15px;left:0px;z-index:10;width:100%;text-align:center;color:white;">$movie</span>

    <video id="player" controls width="100%">
      <source src="/static/media/$source" type="video/mp4" />
      <track  src="/static/media/$subtitle" kind="subtitles" srclang="en-US" label="English" />
    </video>

    <a class="btn btn-info btn-md transition non-media-ui-element" href="#" style="position:fixed;top:5px;left:5px;"><span class="icon-arrow-left"></span></a> 

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.videosub.js"></script>
  <script>
      $$('#player').videoSub();
  </script>

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script type="text/javascript">
    $$(document).ready(function() {
      $$("body").css("display", "none");
      $$("body").fadeIn(500);
    });

    $$("a.transition").click(function(event){
        event.preventDefault();
        $$("body").fadeOut(500, function(){
          history.back();
        });
    });

    $$("#player").on("play", function (e) {
      $$(".non-media-ui-element").fadeOut(500);
    });
    $$("#player").on("pause", function (e) {
      $$(".non-media-ui-element").fadeIn(500);
    });
  </script>

  </body>

</html>
